
<div class="container mt-5">
    <div class="card" id="SearchCar-Card">
        <div class="card-body">
          <form asp-route-id="" asp-action="">
              <div class="row">
                  <div class="col-md">
                     <input class="form-control" name="" placeholder="Start date" /><br />
                  </div>
                    <div class="col-md">
                        <input class="form-control" name="" placeholder="End date" />
                    </div>
                    <div class="col-md">
                        <button type="button" class="btn btn-warning">Search</button>
                    </div>
              </div>
          </form>
        </div>
    </div>
</div>

