
<div class="container mt-5">

    <div class="row">
        <div class="col-md-3">

            <div class="card" id="UserIndex-Card">
                <a asp-action="UserProfile">
                    <div class="card-body">
                      <h1>Profile</h1>
                    </div>
                 </a>
                </div>
               
        </div>

        <div class="col-md-3">

            <div class="card" id="UserIndex-Card">
                <a asp-action="UserRental">
                    <div class="card-body">
                        <h1>Rental</h1>
                    </div>
                </a>
            </div>

        </div>
    </div>

</div>

