html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;

}



#Form {
    max-width: 500px;
    margin: auto;
}

#Form h2 {
    font-family:'Montserrat', sans-serif;
    color: #3c3b3b;
}

#Form h5 {
    font-family: 'Montserrat', sans-serif;
    color:#290de4;
}

#Form label {
    color: #090707;
    font-family: Arial;
}

#Form input, #Form select {
    border-radius: 0;
    border-color:#9c9c9c;
    box-shadow: none;
    height:45px;   
}

#Form hr{
    height:5px;  
}

#Form button{
    color:white;
    font-family:Arial;
    width:40%;
    border-radius:0;
    
}



#navbar-div {
    background-image: url("/Images/navbar-image.webp");
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.navbar{
    background-color:white;
  
}


.navbar-brand {
    color: white;
    font-family: "Fira Sans", sans-serif;
}

 .navbar-brand:hover {
    color: white;
   
}

.navbar-toggler:focus {
    border: none;
    box-shadow: none;
}

.nav-link {
    color: #313131;
    font-family: 'Montserrat', sans-serif;
    
   
}

.dropdown-menu .dropdown-item{
   
    font-family:'Montserrat', sans-serif;
}

.nav-link .btn .btn-link {
    font-family: 'Montserrat', sans-serif;
}

.nav-link:hover {
    color: #313131;
}


.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0,0,0)' stroke-linecap='round'  stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  
    
}

.nav-tabs{
    margin:auto;
    max-width:500px;
    
}

.btn-link{
    font-size:15px;
    margin-left:10px;
}

.nav-tabs .nav-link {
    border: 1px solid white;
    background-color: blue;
    color: white;
}

tbody td a {
    color: white;
    text-decoration: none;
}

tbody td a:hover{
    color:#258cfb;
}


#Carlist-addButton{
    border-radius:0;
    font-family:Arial;
}









#rentCar-card {
    max-width: 1000px;
    margin: auto;
    border: 1px solid;
    border-radius: 0;
}



#rentCar-card img {
    height: 500px;
}

#rentCar-card .btn {
        width: 100%;
        font-size: 20px;
        border-radius: 0;
}

#rentCar-card label{
    font-family:Arial;
}

#rentCar-card input{
    height:45px;
    border-radius:0;
    border-color:#414141;
}

#EditProfile-card {
        max-width: 700px;
        margin: auto;
        border: 2px solid #b0b0b0;
        padding: 8px;
        border-radius: 0;
}

#EditProfile-card h2{
    font-family:Georgia;
    text-align:center;
    color:#6f6e6e;
}

#EditProfile-card hr{
    height:5px;
}

#EditProfile-card input{
    height:45px;
    border-radius:0;
  
}

.bi-person-circle{
    font-size:30px;
    
}

#SearchCar-Card {
    border-radius: 0px;
    border-color: #f7f7f7;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#SearchCar-Card input {
     border-radius: 0px;
     height: 60px;
     font-family: Georgia;
     background-color: white;
     font-weight:600;
 }


#SearchCar-Card .btn{
    height:60px;
    width:70%;
    font-family:Georgia;
    border-radius:0;
}

#Cars-Card {
    margin: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius:0;
}

#Cars-Card .card-img-top{
    height:220px;
}

#Cars-Card .btn{
    width:100%;
    border-radius:0;
}