html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}




#Navbar-image {
    background-image: url('https://static0.topspeedimages.com/wordpress/wp-content/uploads/jpg/201806/wallpaper-of-the-day-4.jpg');
    height: 550px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.navbar-brand img{
  
    width:100px;
}

.nav-link{
    font-family:Arial, Helvetica, sans-serif;

}



/*  Views: Home - Index */
#SearchCar-Card {
    padding: 20px;
    border-radius: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#SearchCar-Card input{
    height:60px;
    border-radius:0;
    background-color:white;
}

#SearchCar-Card input::placeholder{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#565555;
}


#SearchCar-Card .btn{
    height:60px;
    width:100%;
    color:#000000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius:0;
}

#Rental-Card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin:12px;
}

#Rental-Card .btn{
    width:100%;
    padding:6px;
    border-radius:0;
}

#Rental-Card img{
    height:250px;
}



/* Views: Car - Index*/

.table td img {
    height: 50px;
}

#addCar-btn{
    border-radius:0;
 
}

.table td a {
    text-decoration:none;
    color:white;
    border-radius:0;
    
}



/*Views: Car - create and edit*/

#Create-Edit-Car-Card {
    max-width: 800px;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#Create-Edit-Car-Card .card-header {
    padding:12px;
    text-align:center;
}

#Create-Edit-Car-Card input, #Create-Edit-Car-Card select{
    height: 45px;
    border-radius: 0;

}

#Create-Edit-Car-Card .btn{
    width:100%;
    padding:8px;
    font-size:18px;
}

/*Views: Account - UserProfile */

#UserProfile-Card {
    max-width: 800px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#UserProfile-Card .btn{
    font-size:20px;

}

/*Views: Account - UserProfile */

#Create-Edit-ProfileCard {
    max-width: 700px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#Create-Edit-ProfileCard input {
        height: 45px;
        border: 1px solid #a9a8a8;
        border-radius: 0px;
}

#Create-Edit-ProfileCard .btn {
        font-size: 20px;
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;
}

/*Views: Account - Index */

#UserIndex-Card {
    padding:20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius:0;
    
}

#UserIndex-Card a{
    text-decoration:none;
}

#UserIndex-Card h1 {
    text-align:center;
    color:#393b39;
    font-family:'Times New Roman', Times, serif;
}

/*Areas: Identity*/

#Register-Login-Card {
    max-width: 500px;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius:0;
}

#Register-Login-Card input {
   border: 1px solid #a9a8a8;
   height:45px;
   border-radius:0;
}


#Register-Login-Card .btn{
   width:100%;
   padding:10px;
   font-family:Arial, Helvetica, sans-serif;
}

#Register-Login-Card img{
    height:300px;
}


